<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-11">
            <div class="row d-flex justify-content-center ">
                @if(User.IsInRole("Admin"))
                {
                    <div class="col-md-2">
                          <a asp-controller="Admin" asp-action="Panel" class="nav-link c" style="color: black;">Admin Panel</a>
                    </div>
                }
                <div class="col-md-4 d-flex flex-row d-flex justify-content-end post">
                    <a href="" class="nav-link fontSize">Satış Yap</a>
                    <a href="" class="nav-link fontSize">Yardım & Destek</a>
                </div>
            </div>
        </div>
    </div>
</div>


