<div class="container-fluid backGroundHeader">
    <div class="row d-flex justify-content-center">
       <div class="col-md-11 style">
            <nav class="navbar navbar-expand-sm">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item n">
                        <a href="/home/Index" class="nav-link" style="color: black;"><h2 class="navFont">ANA SAYFA</h2></a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;"><h2 class="navFont">KADIN</h2></a>
                    </li>
                    <li class="nav-item n">
                        <a asp-controller="Shop" asp-action="Man" class="nav-link nav" style="color: black;"><h2 class="navFont">ERKEK</h2></a>
                    </li>
                   <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;"><h2 class="navFont">ÇOCUK</h2></a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;"><h2 class="navFont" >KOZMETİK</h2></a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;"><h2 class="navFont" >AYAKKABI & ÇANTA</h2></a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;"><h2 class="navFont" >SAAT & AKSESUAR</h2></a>
                    </li>
                
                </ul>
            </nav>
        </div>
    </div>

</div>