<div class="container-fluid">
    <div class="row d-flex justify-content-center">
       <div class="col-md-11 style">
            <nav class="navbar navbar-expand-sm">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item n">
                        <a href="/home/Index" class="nav-link" style="color: black;">ANA SAYFA</a>
                    </li>
                     <li class="nav-item dropdown n">
                        <a style="color: black;" class="nav-link dropdown-toggle nav" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">KADIN</a>
                    </li>
                    <li class="nav-item n">
                        <a asp-controller="Shop" asp-action="Man" class="nav-link nav" style="color: black;">ERKEK</a>
                    </li>
                    <li class="nav-item n ">
                        <a href="" class="nav-link nav" style="color: black;">ÇOCUK</a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;">EV&YAŞAM</a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;">SÜPERMARKET</a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;">KOZMETİK</a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;">AYAKKABI & ÇANTA</a>
                    </li>
                    <li class="nav-item n">
                        <a href="" class="nav-link nav" style="color: black;">SAAT & AKSESUAR</a>
                    </li>
                
                </ul>
            </nav>
        </div>
    </div>

</div>