body{
    margin: 0;
    padding: 0;
    background-color: rgb(249, 249, 249);
}

.h{
    width: 250px;
  

}

.h{
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
}
.l{
    font-size: 25px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;

}
.g{
    font-size: 12px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;

}
.i{
    width: 50px;
}
.cl{
    background-color:floralwhite;
}
.item{
    font-size: 15px;
    color: gray;
    transition: 1s;


}
.s{
    font-family: 'Space Grotesk', sans-serif;
    color: red;
}
.p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
}

.navhead{
    font-size: 15px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
   
}

.fontSize{
    color: gray;
    font-size: 10px;

}
.k{
    font-size: 13px;
}

.h{
    text-decoration: none;
}
#inp{
    
    border: none;
}
.c{
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 200px;
    width: 300px;
}
#inp::placeholder{
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;

}
#formin::placeholder{
    font-size: 12px;
}
#formin{
    background-color: #ebedf0;
}
.homeSearch::placeholder{
    font-size: 11px;
}
.n{
    font-size: 15px;
    margin: 7px;
}
.flexCol{
   padding: 5px;
}
.navFont{
    font-size: 14px;
    color:gainsboro;
}
.details
{
    box-shadow: 10px 10px 100px rgb(206, 199, 199);
}
.formStyle{
    box-shadow: 1px 1px 10px rgb(222, 217, 217);
    
}
.detailİnput::placeholder{
    font-size: 13px;
}
.like{
    color: gray;
}
.like:hover{
  color: orange;
}
.column{
    position: relative;
    top: 16px;
    box-shadow: 1px 3px 5px rgb(206, 196, 196);
}
.productStyle{
    box-shadow: 1px 3px 5px rgb(206, 196, 196);
}
.columnList{
    position: relative;
    bottom: 23px;
    box-shadow: 1px 3px 1px rgb(206, 196, 196);
}
.detailsShadow{
    box-shadow: 1px 1px 10px rgb(222, 217, 217);

}
.registerBack{
    background-color: rgb(254, 254, 254);
    
}
.RegisterForm{
    width: 300px;
}
.logincolumn{
    width: 400px;
}
.footer{
    position: relative;
    bottom: 50px;
}
.forms{
    width: 250px;
}

.Loginİnput::placeholder{
    font-size: 12px;
}
.LoginForms{
    width: 330px;
    
}
.post{
    position: relative;
    right: 5px;

}
.forgotPassword{
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.Regİnp::placeholder{
    font-size: 10px;
}

.regBtn{
    background-color: rgb(15, 15, 206);
}
.forgotBorder{
    border: 1px solid gainsboro;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gainsboro;
}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0
}
.adminPanelColumn{
    background-color: rgb(92, 77, 83);
    height: 440px;
 
}
.header{
    background-color: rgb(92, 77, 83);
    color:white;
    padding: 50px;
}
.adminAddProduct{
    background-color: rgb(250, 249, 249);
}
.createColumn{
    background-color: rgb(249, 247, 247);
}

.createProductsPage{
    background-color: white
}
.rowAdmin{
    position: relative;
    top: 50px;
}
.colr{
    color:rgb(150, 180, 184);
    font-size: 40px;

}
.item:hover{
    background: turquoise;
}
.adminInput{
    border-radius: 40px;
    background: transparent;
    position: relative;
    bottom: 40px;
    

}
.Inputs{
    border-radius: 40px;
    background: transparent;
    position: relative;
    bottom: 70px;
    color:white;
}
.Inputs::placeholder{
    color: white;
    position: relative;
    left: 25px;
}
.Inputs:focus{
    background: transparent;
}
.adminInput:focus{
    background: transparent;
}
.adminInput::placeholder{
    font-size: 12px;
    color: white;
    position: relative;
    left: 22px;
    bottom: 1px;
}
.homeSearch:focus{
    box-shadow: none;
}

.columnRound{
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: 0.4s;
    width: 300px;
    height: 120px;
}
.columnRound:hover
{
    background-color: rgb(210, 197, 210);

}
#adminSpan{
    background-color: transparent;
    position: relative;
    left: 25px;
    bottom: 36px;
}
.dashBoard{
    position: relative;
    top: 18px;
}
.return{

    height: 40px;

}
.forms{
    width: 900px;
    position: relative;
    bottom: 20px;
}
.forms1{
    width: 1000px;
    height: 400px;
    position: relative;
    bottom: 800px;
    padding: 40px;
}
.showProductsform{
    background-color: rgb(247, 246, 247);
    position: relative;
    bottom: 16px;
   
}
.showProductsform1{
    position: relative;
    background-color: rgb(231, 220, 231);
    bottom: 160px;
    height: 395px;
}
.hide{
    border-radius: 100px;
    box-shadow: 10px 5px 10px rgb(179, 177, 173);
    margin: 12px;
    transition: 0.7s;
    
}
.hide:hover{
    background-color: rgb(250, 239, 239);
    border: none;

}
.bxShadow{
    border-radius: 20px;
    width: 230px;
    position: relative;
    
}

.bxShad{
    border-radius: 20px;
    width: 260px;
    bottom: 45px;
    right: 50px;
    position: relative;
}
.bxSh0{
    border-radius: 20px;
    width: 260px;
    bottom: 45px;
    right: 265px;
    position: relative;
}
.bxSh{
    border-radius: 20px;
    width: 230px;
    position: relative;
    bottom: 40px;
    right: 45px;
}
.bxShado{
    position: relative;
    border-radius: 200px;
    width: 22 0px;
    left: 130px;
}
.bxShadow0{
    border-radius: 20px;
    width: 230px;
    position: relative;
    bottom: 40px;
    right: 45px;
}
.bxShadow1{
    border-radius: 20px;
    width: 230px;
    position: relative;
    top: 5px;
    left: 75px;
}
.bxShadow2{
    border-radius: 20px;
    width: 230px;
    position: relative;
    left: 190px;
    bottom: 40px;
}
.bxShadow{
    border-radius: 20px;
    width: 230px;
    position: relative;
    left: 1px;
    top: 2px;
}
.mans{
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: black;
    width: 300px;
    border-radius: 200px;
    position: relative;
    left: 90px;
}
.bxShadow5{
    border-radius: 20px;
    width: 230px;
    position: relative;
    bottom: 40px;
    right: 45px;
}
.icons{
    position: relative;
    top: 6px;
}
.text{
    line-height: 0fr;
}
.stylesRow{
    position: relative;
    bottom: 60px;
    width: 600px;
    background-color: rgb(250, 230, 193);
}
.header1{
    background-color: rgb(135, 104, 135);
}
.brands{
    position: relative;
    width: 700px;
}
.tables{
    position: relative;
    top: 25px;
   
}
.cate{
    position: relative;
    top: 40px;
}
.hr{
    position: relative;
    top: 25px;
}
.detailsCat{
    font-size: 17px;
    margin: 7px;
    font-weight: 400;
}
.divs{
    position: relative;
    bottom: 43px;
    right: 15px;
}
.mainDiv{
  position: relative;
  top: 300px;
}
.btnUser{
    border-radius: 100px;
    width: 200px;
}
.backGroundHeader{
    background-color: rgb(92, 77, 83);
}
.loginBtn{
    background: linear-gradient(to right,rgb(86, 194, 223),rgb(255, 1, 255));
    color: white;
    border-radius: 100px;
    height: 50px;
}
.quantityClass{
    width: 100px;

}
.text{
    text-align:justify
}
.btnDetail{
    width: 200px;
   
}