@model IEnumerable<IdentityRole>
@section Css
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
}
  
@section Scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        });
    </script>

}
@await Html.PartialAsync("_header")
@await Html.PartialAsync("_navbar")
@await Html.PartialAsync("_headerTwo")


<div class="row d-flex justify-content-center createColumn">
    <div class="col-md-9" style="background-color: white;">
        <h2 class="mt-4 mb-2 text-center">Roller Listesi</h2>
            <a asp-controller="Admin" asp-action="CreateRole" style="color: gray;">
                <h5 class="mt-3" style="font-size: 16px;">Yeni role ekle +</h5>
            </a>
            <a asp-controller="Admin" asp-action="Panel" style="color: black;text-decoration: none;">
                     <h5 class="mt-3" style="font-size: 14px;">< Admin Panel</h5>
            </a>
            <hr>
        <table id="myTable" class="table table-bordered table table-hover table table-sm">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Id</td>
                    <td>Role Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a href="/admin/roles/@item.Id" class="btn btn-info btn-sm float-end">Edit</a>
                            <form href="/admin/roles/@item.Id" asp-route-id="@item.Id">
                                <input type="hidden" name="roleId" value="@item.Id">
                                <button class="btn btn-secondary btn-sm float-end">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>