@model Login
@await Html.PartialAsync("_header")
@await Html.PartialAsync("_navbar")
@await Html.PartialAsync("_headerTwo")
<div class="row d-flex justify-content-center loginback p-4 mb-4">
    <div class="col-md-3 d-flex justify-content-center" style="background-color: white; height:700px;">
        <form asp-controller="Account" asp-action="Login" method="POST" class="LoginForms">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>      
            <h2 class="text-center mt-5 mb-5">Welcome</h2>
                <div class="mb-3">
                    <label asp-for="Eposta" class="form-label"><h2 style="font-size: 13px;">E-Posta</h2></label>
                    <input asp-for="Eposta" class="form-control Loginİnput" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 ">
                    <label asp-for="Sifre" class="form-label"><h2 style="font-size: 13px;">Şifre</h2></label>
                    <input asp-for="Sifre" class="form-control Loginİnput">
                </div>
                <div class="mb-3 d-grid gap-2">
                        <button type="submit" class="btn btn-warning loginBtn border-0 mt-5"><h2 class="mt-1" style="font-size: 15px;">GİRİŞ YAP</h2></button>
                </div>
                <div class="d-flex justify-content-center">
                    <h2 style="font-size: 17px;color:gray;">Ya da</h2>
                </div>
                <div class="d-flex justify-content-center mb-5">
                        <a href="/account/forgotpassword" class="btn btn-link forgotPassword" style="text-decoration:none;">Şifremi Unuttum</a>
                </div>
                <div class="d-flex flex-row d-flex justify-content-center mt-5">
                    <a href="" class="btn btn-link " style="text-decoration: none;color:black;"><i class="fab fa-facebook" style="font-size: 40px;color:blue;"></i>
                         <h5 style="font-size: 15px;">Facebook</h5><p style="font-size: 12px;">ile giriş yap</p>
                    </a>
                    <a href="" class="btn btn-link " style="text-decoration: none;color:black"><i class="fab fa-google" style="color: red; font-size:40px;color:red"></i>
                         <h5 style="font-size: 15px;">Google</h5><p style="font-size: 12px;">ile giriş yap</p>
                    </a>
                 </div>
         </form>
    </div>
</div>


@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}