@model RegisterModel


@await Html.PartialAsync("_header")
@await Html.PartialAsync("_navbar")
@await Html.PartialAsync("_headerTwo")
<div class="row mb-5 d-flex justify-content-center border regBackground">
    <div class="col-md-3 mt-4 d-flex justify-content-center border registerBack p-3">
        <form asp-controller="Account" asp-action="Register">
            <div class="d-grid gap-2 mt-3">
                <a href="" class="btn btn-primary">Hızlı Giriş Yap</a>
                <a href="" class="btn btn-primary regBtn"><i class="fab fa-facebook me-2"
                style="font-size: 25px;"
                ></i>Facebook İle Üye Ol</a>
            </div>
            <p class="mt-3 mb-4 text-center">veya</p>
            <h4 class="mb-3" style="font-size: 17px;">E-Posta ile Üye Ol</h4>
            <hr>
            <div class="form-group mb-4" style="width: 250px;">
                <input asp-for="Adı" placeholder="Adı" class="Regİnp form-control">
                <span asp-validation-for="Adı"></span>
            </div>
            <div class="form-group mb-4"  style="width: 250px;">
                <input asp-for="Soyadı" placeholder="Soyadı" class="Regİnp form-control">
                <span asp-validation-for="Soyadı"></span>
            </div>
             <div class="form-group mb-4" style="width: 250px;">
                <input asp-for="Eposta" placeholder="E-posta" class="Regİnp form-control">
                <span asp-validation-for="Eposta"></span>
            </div>
              <div class="form-group mb-4" style="width: 250px;">
                <input asp-for="Sifre" placeholder="Şifre" class="Regİnp form-control">
                <span asp-validation-for="Sifre"></span>
            </div>
            <div class="form-group mb-4" style="width: 250px;">
                <input asp-for="SifreTekrarı" placeholder="Şifre(Tekrar)" class="Regİnp form-control">
                <span asp-validation-for="SifreTekrarı"></span>
            </div>
            <div class="mt-2 d-grid gap-2">
                <button class="btn btn-warning mt-2" type="submit">Üye Ol</button>
            </div>
            <div class="mt-5 d-flex flex-row">
                 <p class="me-2">Zaten Üye misiniz?</p>   
                 <a href="">Giriş Yap</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}